{% extends "base.html" %} {% load humanize %} {% block pageContent %}

<!--Section: Content-->
<section class="text-center">

    <div class="row">
        {% if user.profile.user_type == 1 %}

        <style>

.time {
    background: rgb(12, 12, 12);
    color: #fff;
    border: 2px solid rgb(255, 252, 252);

    padding: 2px;
    text-align: center;
    width: 1100px;
}
.hms {
    font-size: 38pt;
    font-weight: 90;
}
.ampm {
    font-size: 10pt;
}
.date {
    font-size: 10pt;
}
  </style>


<div class="time">
        <span>PLACE:{{ user.staffs.Assigned_places}}</span>
        <br>
        <span class="hms"></span>
        <span class="ampm"></span>
        <br>
        <span class="date"></span>
      </div>

<script>
 function updateTime() {
  var dateInfo = new Date();

  /* time */
  var hr,
    _min = (dateInfo.getMinutes() < 10) ? "0" + dateInfo.getMinutes() : dateInfo.getMinutes(),
    sec = (dateInfo.getSeconds() < 10) ? "0" + dateInfo.getSeconds() : dateInfo.getSeconds(),
    ampm = (dateInfo.getHours() >= 12) ? "PM" : "AM";

  // replace 0 with 12 at midnight, subtract 12 from hour if 13–23
  if (dateInfo.getHours() == 0) {
    hr = 12;
  } else if (dateInfo.getHours() > 12) {
    hr = dateInfo.getHours() - 12;
  } else {
    hr = dateInfo.getHours();
  }

  var currentTime = hr + ":" + _min + ":" + sec;

  // print time
  document.getElementsByClassName("hms")[0].innerHTML = currentTime;
  document.getElementsByClassName("ampm")[0].innerHTML = ampm;

  /* date */
  var dow = [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday"
    ],
    month = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ],
    day = dateInfo.getDate();

  // store date
  var currentDate = dow[dateInfo.getDay()] + ", " + month[dateInfo.getMonth()] + " " + day;

  document.getElementsByClassName("date")[0].innerHTML = currentDate;
};

// print time and date once, then update them every second
updateTime();
setInterval(function() {
  updateTime()
}, 1000);
</script>
              {% load static %}
        {% endif %}


    </div>

</section>


</div> {% endblock pageContent %}