{% extends 'registration/base.html' %}
{% block content %}
 <div class="card-body login-card-body">

  <!-- /.login-logo -->
      <p class="login-box-msg">Forgot Password</p>
      <p> Please use your registered email in your Security Personnel Admin Account of the system to receive the email to reset your password otherwise you can't receive an email to reset it.
      </p>

      <form  method="post">
          {% csrf_token %}
          {%  for field in  form  %}
          <div class="form-group">
              {{ field.errors}}
              {{ field.label_tag }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name}}" class="form-control">

          </div>

          {% endfor %}
          <button type="submit" class="btn btn-primary btn-block" > Submit </button>

      </form>
    </div>


{% endblock content %}
